<div class="d-flex align-items-center justify-content-center">
  <h1>Twitter Accounts</h1>
</div>
<div class="d-flex align-items-center justify-content-between">
  <%= button_to "Connect Twitter", "/auth/twitter", method: :post, class: "btn btn-primary"%>
  <%= link_to "Generate CSV", "/twitter_accounts.csv", class: "btn btn-primary" %>
</div>

<br>

<% @twitter_accounts.each do |t| %>
  <div class="d-flex align-items-center mb-4">
    <div class="me-4">
      <%= image_tag t.image, class: "rounded-circle" %>
      <%= link_to "@#{t.username}", "https://twitter.com/#{t.username}", target: :_blank %>
    </div>

    <%= button_to "Disconnect", t, method: :delete, data: {  confirm: "Are you sure?" } %>
  </div>
<% end %>